*{
    box-sizing: border-box;
    padding:0%;
    margin: 0%;
}

main{
    width: 100%;
    height: 500px;
    border: 0.5em solid aqua;
    padding: 0%;

}


img{
    width: 120px;
}

.header-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0%;
    
  
}

.header-nav__item{
    display: inline-block;
}

.header-nav__item a{
    color: white;
    background-color: aqua;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.header-nav__item a:hover{
    color: blue;
}
.header-nav__item a:active{
    color: tomato;
}

.header-nav__item a::after{
    content: " | ";
}

.title{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}