html{
    font-size: 62.5%;

}


*{
    box-sizing: border-box;
    padding:0%;
    margin: 0%;
}

main{
    width: 80%;
    height: auto;
    max-width: 500px;
    min-width: 320px;
    max-height: 100%;
    min-height: 500px;
    border: 0.5rem solid aqua;
    padding: 0;
    margin: 0 auto;

}

header{
    width: 80%;
    max-width: 500px;
    min-width: 320px;
    min-height: 8rem;
    border: 0.5rem solid aqua;
    padding: 0%;
    margin: 0 auto;
}

footer{
    width: 80%;
    max-width: 500px;
    min-width: 320px;
    min-height: auto;
    border:  solid aqua;
    padding: 0%;
    margin: 0 auto;
}


img{
    width: 120px;
}

.header-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0%;
    
  
}

.header-nav__item{
    display: inline-block;
}

.header-nav__item a{
    color: black ;
  
    padding: 5px;
    
    text-decoration: none;
}

.header-nav__item a:hover{
    color: blue;
    border-radius: 2px;
    background-color: aqua;
}
.header-nav__item a:active{
    color: white;
    background-color:tomato;
}

.header-nav__item a::after{
    content: " | ";
}

.title{
    font-size: 4.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main .main-ul{
    width: 80%;
    margin: 0 auto;
}